@model IEnumerable<DocumentDBRestAPIClient.Models.Collection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Collections</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Conflicts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Self)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sprocs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Triggers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Udfs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Conflicts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Self)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sprocs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Triggers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Udfs)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
